body{
    background: #4e6881 url('../img/carten-maria.jpg');
    padding-top: 70px;
    
}

.navbar{
    border-radius:0;
}

.control-group{
	column-span:100%;
}

#red {
	color:red;
}

#hint_id_username, #hint_id_password2 {
	color:white;
}

#table-back {
	background-color: #394b50;
	color:black;
}