{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Charterer list {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    {% if user.is_authenticated %}

        <div id="table-back" class="col-sm-8 col-sm-offset-2 col-xs-10" >
                
                <h1> List of Charterers <a href="{% url 'VoyageCalc:create_charterer' %}"><h4>(Add new charterer )</h4></a></h1>

                
                <table class="table table-striped table-inverse">
                    <thead>
                        <tr>
                            <th>Charterer</th>
                            <th>Contact Person</th>
                            <th>Telephone</th>
                            <th>Comment</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for object in object_list %}
                        
                            <tr>
                                <td><a href="{% url 'VoyageCalc:edit-charterer' object.id %}">{{ object.name }}</a></td>
                                <th>{{ object.contact_person }}</th>
                                <td>{{ object.switch_board }}</td>
                                <td>{{ object.comment }}</td>
                            </tr>
                          
                        {% endfor %}
                    </tbody>
                </table>

        </div>
        {% else %}
        {% include "VoyageCalc/home.html" %}
        {% endif %}

    </div>
</div>

{% endblock body %}
