{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} List of Charts {% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div id="table-back" class="col-sm-8 col-sm-offset-2 col-xs-10" >
                
                <h1> List of Finished Charts </h1>

                
                <table class="table table-striped table-inverse">
                    <thead>
                        <tr>
                            <th>Chart No</th>
                            <th>Charterer</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Creator/Updated</th>
                            <th>Comment</th>
                            

                        </tr>
                    </thead>

                    <tbody>
                        {% for object in object_list %}
                        
                            <tr>
                                <td>{{ object.id }}</td>
                                <td>{{ object.charterer }}</td>
                                <td>{{ object.date_start }}</td>
                                <td>{{ object.date_end }}</td>                                
                                {% if object.updated_by %}
                                <td>{{ object.created_by }} / {{ object.updated_by }} </td>
                                {% else %}
                                <td>{{ object.created_by.name }}</td>
                                {% endif %}
                                <td>{{ object.comment|truncatechars:50 }}</td>
                            </tr>
                          
                        {% endfor %}
                    </tbody>
                </table>

        </div>

    </div>
</div>

{% endblock body %}
