{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'VoyageCalc/static/style.css'%}" />
{% endblock %}

{% block body %}
<div class="col-sm-4 col-sm-offset-4" align="center">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> {{ title }} </h3>
        </div>
        <div class="panel-body">
            <h1>{{ title }}</h1>
                    <hr/>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input type = submit class="btn btn-success" style="width:100%; value="{{ sub_btn }}" />
                        </form>
                        {% if message %}<br/><br/>
                            <a href="{% url 'accounts:register' %}"><button class="btn btn-success">Registrer deg!</button></a>
                        {% endif %}
        </div>          
      </div>
         

    

</div>


{% block footer %}
{% endblock footer %}
{% endblock body %}