{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} CartenCalc - Index 
{% endblock title %}


{% block style %}

{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 col-xs-10" style="background-color:#495b5f; color:black; align-items: right;">

                <h1 style="color:white; text-align:center;">Welcome to {{ title }} {% if user.is_authenticated %}
                {{ user.name }} {% endif %} </h1>
                {% if user.is_authenticated %}
                <p><h3 style="text-align: center;">Please make your selection in the top menu.</h3></p>
                

                {% else %}
                
                <p><h3 style="text-align: center;">Please log in or register to continue.</h3></p>
                {% endif %}
               
        </div>

    </div>
    </div>
</div>

{% endblock body %}
