{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} CartenCalc - Index 
{% endblock title %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'VoyageCalc/static/style.css'%}" />
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-xs-10" style="background-color:#495b5f; color:black;">
                
                <h1>{{ title }}</h1>

                
                <table class="table table-striped table-inverse">
                    <thead>
                        <tr>
                            <th>Ship</th>
                            <th>Noon Position</th>
                            <th>Next Port</th>
                            <th>Final Port</th>
                            <th>Off chart</th>
                            <!--<th>Last noon report</th>-->
                            <th>Masters</th>
                            <th>Telephone</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for ship in ship_list %}
                        
                            <tr>
                                <td><a href="{% url 'VoyageCalc:ship_details' %}">{{ ship.0 }}</a></td>
                                <td><a href="{{ ship.1 }}">Check map</a></td>
                                <td>{{ ship.2 }}</td>
                                <td>{{ ship.3 }}</td>
                                {% if ship.8 %} <td>{{ ship.4 }}</td>
                                {% else %} <td style="background-color: orange;"">{{ ship.4 }}</td> 
                                {% endif %}
                                </td> 
                                <td>{{ ship.6.0}} / {{ship.6.1}}</td>
                                <td>{{ ship.7 }}</td>
                                
                            </tr>
                          
                        {% endfor %}
                    </tbody>
                </table>

        </div>

    </div>
</div>

{% endblock body %}
